<div class="container">
    <h2>Shop Online</h2>
    <div class="about">
        <div class="about-info"><br>
            <p>That site provide the best quality food products.</p>
        </div>

        <div class="about-info"><br>
            <div class="image">
                <img src='./../../../assets/images/store.jpg'>
            </div>
            <p>Available products in our store - {{productCount}}</p>
            <p>Number of orders made in our store - {{orderCount}}</p>
        </div>
    </div>
</div>