.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.cart-box {
    position: fixed;
    top: 10vh;
    left: 65vh;
    width: 68vh;
    height: 50vh;
    padding: 16px;
    z-index: 100;
    background: white;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 2vh;
    margin-bottom: 1vh;
}

.cart-box-actions {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.order-box-actions {
    margin-left: 8vh;
}

.item {
    display: flex;
    margin-top: 1vh;
    overflow: auto;
}


.btnDelete {
    margin-top: -0.3vh;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 2vh;
    width: 10vh;
    cursor: pointer;
    padding: 0.5vh;
}

.btnCart {
    margin-top: 2vh;
    padding: 2vh;
    color: aliceblue;
    border: none;
    border-radius: 2vh;
    width: 30%;
    cursor: pointer;
}

.blue {
    background-color: #0d6efd;
}

.green {
    background-color: #198754;
}

.orange {
    background-color: #fd7e14;
}

.disabled {
    background-color: #0274d895;
}

input,
select {
    margin-left: 0.5vh;
    margin-bottom: 1vh;
    border-radius: 0.3vh;
    border: 0.5px solid black;
    text-align: center;
    padding: 0.5vh;
}

select {
    width: 65vh;
}

input {
    width: 64vh;
}

.name {
    width: 70vh;
    max-width: 70vh;
    text-align: left;
    margin-left: 1vh;
}

.price {
    margin-right: 1vh;
    width: 15vh;
}

.quantity {
    width: 15vh;
}

.items-container {
    height: 30vh;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 37vh;
}

.toggleBTN {
    border: none;
    background-color: white;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.emty-cart {
    height: 30vh;
}

.message {
    text-align: center;
    position: fixed;
    width: 30vh;
    padding: 2vh;
    margin-top: 10vh;
    margin-left: 18vh;
    background-color: #dc354653;
    border: 1px solid black;
}

.order {
    margin-left: 5vh;
    margin-top: 10vh;
    width: 59.5vh;
    height: 53.5vh;
    background-color: white;
    border-radius: 2vh;
    text-align: center;
}

.invoice {
    display: flex;
}

.invoice > button {
    margin-right: 10vh;
    margin-bottom:1vh;
}

.invoice-header {
    width: 20%;
    margin-left: 40%;
    text-decoration: underline;
}